<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./css.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      h2 {
        margin-bottom: 20px;
      }
      .button {
        background-color: rgb(80, 76, 76);
        color: white;
        width: 100px;
        height: 50px;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 70px;
        border-radius: 10px;
      }

      .button a {
        color: white;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <img
      src="https://res.cloudinary.com/vinhhai/image/upload/v1576512904/edm52w4c9owzbw2ox0si.png"
      alt=""
    />
    <h2>Hello <%- name%></h2>
    <h3>please click link bellow to confirm your account !</h3>
    <div class="button">
      <a href="https://www.gadadev.tk/news/5de237489e86c600175f230c"
        >Click here</a
      >
    </div>
    <h3>Thanks for your attention!</h3>
  </body>
</html>
