<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/login.css">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/">Login</a>
        <a href="/">Register</a>
        <h4>
            Your name
        </h4>
    </header>
    <h1 class="big-title">Login</h1>
    <form class="login-post" action="/login" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="gmail" placeholder="your gmail">
        </div>
        <div class="form-group">
            <label>Passowrd</label>
            <input type="password" name="pwd" placeholder="your password">
        </div>
        <div class="form-group">
            <input class="submit" type="submit" value="Send">
        </div>
    </form>
</body>

</html>